.analytics-section-main {
  width: 940.22px;
  height: 833px;
  padding: 10.67px 1rem;
  gap: 27.56px;
  font-size: 11.14px;
  font-weight: 300;
  line-height: 12.38px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.analytics-section-inner {
  width: 100%;
  height: 100%;
  padding: 20.67px 0px 0px 0px;
  gap: 27.56px;
}

.analytics-section-main .analytics-section-inner .seatchBar-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0 2rem 0;
}
