@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sidebar {
  width: 308.22px;
  height: 825px;
  padding: 17px 8.89px 8.89px 14px;
  gap: 8.89px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
}

.sidebar .sidebar-inner {
  width: 285.33px;
  height: 800px;
  padding: 40px 0px 10px 0;
  box-sizing: border-box;
  gap: 48px;
  border-radius: 35.56px;
  background: #2f667f;
  opacity: 0px;
  box-shadow: 8.89px 8.89px 12.62px 0px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .sidebar-inner .sidebar-left-cirle {
  width: 230.22px;
  display: flex;
  justify-content: flex-end;
}
.sidebar .sidebar-inner .sidebar-left-cirle figure {
  width: 40px;
  height: 40px;
}
.sidebar .sidebar-inner .sidebar-left-cirle figure img {
  width: 100%;
}

.sidebar .sidebar-inner .navbar-brand {
  width: 230.22px;
  height: 47.11px;
  gap: 10.67px;
  opacity: 0px;
}
.sidebar .sidebar-inner .brand-logo {
  width: 42.67px;
  height: 42.67px;
  padding: 3.56px;
}
.sidebar .sidebar-inner .brand-name {
  font-size: 42.67px;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  color: #fff;
}
